footer {
  text-align: center;
  background-color: white;
  padding: $mobile-section-padding 0;
  position: relative;

  .footer-locations {

  }

  .social-icons {
    position: relative;
    width: 100%;

    .social-inner{

      a img{
      }
    }
  }

  .footer-logo {
  }
}
