body {
  @extend .avenir;
}

section[class*='wrapper']:not(.parallax-wrapper){
  @include center($max-width: map-get($jeet, 'max-width'), $pad: 10%);
  background-color: white;
}

section {
  padding: $desktop-section-padding 0;
}

.padding-bottom {
  padding-bottom: $mobile-section-padding;

  @media (min-width: $tablet-width){
    padding-bottom: $tablet-section-padding;
  }

  @media (min-width: $desktop-width){
    padding-bottom: $desktop-section-padding;
  }
}
