html {
  background-image: url(//basehold.it/i/24); // 24px baseline
}

body {
  @extend .avenir;
}

section[class*='wrapper']:not(.parallax-wrapper){
}

section {
}

.padding-bottom {

  @media (min-width: $tablet-width){
  }

  @media (min-width: $desktop-width){
  }
}

.basehold {
    background-image: url(//basehold.it/i/24); // 24px baseline
    background-image: url(//basehold.it/i/24/ff0000); // with Hex colour
    background-image: url(//basehold.it/i/24/255/0/0); // with RGB colour
    background-image: url(//basehold.it/i/24/255/0/0/0.85); // with RGBA colour
}
