nav .container.mobile {
  display: none;
  @media (max-width: $mobile-width) {
    height: 100vh;
    background: url('/img/hero.jpg');
    background-size: cover;
    background-position-x: -350px;

    a.navbar-item img {
      padding: $mobile-section-padding 0;
    }
  }

  ul.navbar-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

nav .container.desktop {
  height: 15vh;
  @media (max-width: $mobile-width) {
    display: none;
  }
}
