.text-on-image {
  position: relative;
  text-align: center;

  img {
    width: 100%;
  }

  .image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 21px;
  }
}
