.hero-wrapper {
    height: 85vh;
}

.services-wrapper, .rates-wrapper {

  .service-image {

    @media (max-width: $tablet-width){
    }
  }
  .service-description {
    @media (max-width: $tablet-width){
    }
  }
}

.modalities {
  padding-top: $tablet-section-padding;

  .modality {
    text-align: center;

    // stack at tablet size
    @media (max-width: $tablet-width) {
    }

    .modality-description {
      padding-top: 1rem;
    }
  }
}

.parallax-wrapper {
    padding-bottom: 0px;
    height: 30em;

    @media (max-width: $mobile-width) {
      display: none;
    }
}

.parallax-image {
    position: fixed;
    top: 0;
    z-index: -10;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.rates-description {
  @media (max-width: $tablet-width){
    display: none;
  }
}

.rates-description.mobile {
  display: none;
  @media (max-width: $tablet-width){
  }
}

.rates-image {
  @media (max-width: $tablet-width){
  }

}
